body {
  margin: 0;
}

nav {
  background-color: #F1BF00;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.page-container{
  display:flex;
  flex-direction: column;
}

.horizontal-part {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}

.horizontal-part:nth-child(1)::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: saturate(0);
  opacity: 0.5;
  background-image: url('assets/tanker.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.top-nav img{
  height: 400px;
}

.horizontal-part:nth-child(1) .content {
  position: relative;
  background-color: #AA151B;
}

.content {
  padding-top: 10px;
  display: flex;
  width: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.card p {
  background-color: yellow;
}

.argument{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 5px;
}

.argument:last-child {
  margin-bottom: 100px;
}
.argument:first-child {
  margin-top: 100px;
}

.argument:nth-child(odd) {
  background-color: white;
}

.horizontal-part:nth-child(odd) {
  background-color: #AA151B;
}

.horizontal-part:nth-child(even) {
  background-color: #F1BF00;
}

.horizontal-part:nth-child(4){
  background-color: white;
}

.footer {
  justify-content: center;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.footer::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: saturate(0);
  opacity: 0.5;
  background-image: url('assets/baseball_boat.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.left-part, .right-part{
  width: 100%;
  height: 100%;
}

.left-part {

}
.right-part {
}

.material-symbols-outlined {
  font-size: 100px;
}